body {
    /* background-color: #c8cbc0; */
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-image: url('flowerful.png');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* TOP NAV */
.topnav {
    width: 100%;
    background-color:#072F38;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    padding: 5px;
} 

/* LINK STYLING*/
.topnav a, .gridcontainer a {
    float: left;
    color: #c8cbc0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover , .gridcontainer a:hover{
    color: #65806D;
}

.topnav a.active {
    color: #BD7423;
}

.gridcontainer a {
    float: none;
    padding: 5px;
    display: block;
}

/* END */

/* TYPING CONTAINER */
.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid 2px #65806D;
    background: #072F38;
    color: #c8cbc0;
    padding: 15px;
    border-radius: 5px;
    position: inherit;
    margin-top: 15px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #c8cbc0;
}

textarea {
    width: 95%;
    min-height: 50px; /* Adjust as needed */
    padding: 5px;
    font-size: 16px;
    border: 1px solid #c8cbc0;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing only */
    margin-bottom: 20px;
}

#displayText {
    /* border: 1px solid #c8cbc0; */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #BD7423;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid #c8cbc0; */
}

button:hover {
    background-color: #334e3B;
    /* border: 1px solid #c8cbc0; */
}

footer {
    width: 100%;
    background-color:#072F38;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    padding: 5px;
    text-align: center;
    bottom: 0px;
    margin-top: 15px;
    position: fixed;
}

/* SPLIT VIEW*/
.gridcontainer {
    /*border: solid black 2px; */
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    align-items: start;
}

.gridobject {
    width: 90%;
}

div.menu {
    background-color: none;
    max-width: 75%;
    margin: auto;
    padding-bottom: 5px;
    height: auto;
    display: block;
}

.display {
    font-size: 16px;
    padding: 5px;
}
